line-chart {
  .line-chart {
    height: 480px;
    width: 100%;

    svg.chart-root {
      .axis .tick line {
        stroke: #EFEFEF;
      }
      path.lines {
        stroke: pink;
        stroke-width: 2;
        fill: none;
      }
    }
  }
}