<!DOCTYPE html>
<html>
<head>
  <title>EtfTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%# In order to bootstrap multiple Angular apps you should use the pc-app="myApp" declaration instead of ng-app="myApp" %>
<script>
  $("[pc-app]").each(function(index) {
    var app = $(this).attr("pc-app")
    angular.bootstrap($(this), [app])
  });
</script>

</body>
</html>
